@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

button {
  cursor: pointer;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }


body {
    margin: 0;
    border: 0;
    background-image: url("./img/background.jpg");
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    color: white;
    height: 100%;
}

.home {
  animation: fadein 1.5s 0.5s both;
}



.header {
    animation: 1s ease-out 1s 1 slideInFromLeft both;
}

@media screen and (max-width:450px) {
  /* Header */
  .header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 100%;
  }
  .header-logo {
    padding-left:10px;
  }
  .header-nav-links {
    display: grid;
    grid-template-columns: auto;
    justify-content: right;
    grid-gap: 20px;
    border-right: 1px solid rgb(255, 255, 255, 0.15);
    background-color: #264653;
  }
  .header-nav-links div {
    display: block;
    width: 100%;
    padding: 0 55px;
  }
  .header-nav-authoptions {
    display: grid; 
    grid-template-columns: auto;
    padding: 0 50px;
    justify-content: left;
    background-color: #264653;
    grid-gap: 25px;
    align-items: center;
    }
  .header-nav-authoptions-btn {
    display: block;
    width: 100%;
  }
  .media-header-nav-links {
    display: grid;
    grid-template-columns: auto;
    padding-right:10px;
  }
  .media-header-nav-links button {
    padding: 1rem 2rem;
    border: 0.1px solid rgb(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .media-header-nav-links button:hover {
    background-color: white;
    color: #264653;
  }


  /* Home */
  .home {
    width: 100%;
    grid-gap: 50px;
  }
  .home-first {
    font-size: 17px;
  }
  .home-title-big {
    font-size: 86px;
  }
  .home-text {
    line-height: 40px;
  }


  /* Projects */
  .projects-site {
    width: 100%;
  }
  .projects {
    grid-template-columns: auto;
  }
  .projects-project {
    width: 100%;
  }

}

.login {
    animation: fadein 1s 0.5s both;
}

.register {
  animation: fadein 1s 0.5s both;
}

.projects {
  animation: fadein 1s 0.5s both;
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 100px;
}
